.row
  .col-12
    %h1 My profile
  .col-4
    %img.img-thumbnail{:alt => "Avatar", :src => "#{@user.avatar_url}"}
  .col-8
    %p Name: #{@user.name}
    %p
      = "Fortune: #{current_user.hay}"
      = image_tag("hay.png", :alt => "hay", size: "20x20")
    %p e-mail: #{@user.email}
    %p Alpacas owned: #{Ownership.where(owner_to: nil, user_id: current_user).count}
    %p Events won: not implemented
    %p
    %p
      =link_to("Edit profile", edit_user_registration_path)
