.row
  .col-12
    %h1 #{@alpaca.name}
  .col-4
    %img.img-thumbnail{:alt => "Avatar", :src => "#{@alpaca.picture_url}"}
  .col-8
    %p
    %p Favorite quote: #{@alpaca.quote}
    %p
    %p
    %p
      - if @alpaca.for_sale
        ="Price: #{@alpaca.price}"
        = image_tag("hay.png", :alt => "hay", size: "20x20")
    %p
    %p
    %p
      - if @alpaca.current_owner.include?(current_user.id) && !@alpaca.for_sale
        =render 'sellform'
      - else
        =render 'button'
