.col-4
  .card.event-card
    = link_to alpaca_path(alpaca) do
      %img.card-img-top{:alt => "#{alpaca.name}", :src => "#{alpaca.picture_url}"}/
      .card-body
        %h5.card-title="#{alpaca.name}"
        %p.card-text="Skills: #{}"
