.card-deck
  - @events.each do |event|
    .col-3
      .card
        = link_to event_path(event) do
          %img.card-img-top{:alt => "#{event.name}", :src => "#{event.description}"}/
          .card-body
            %h5.card-title="#{event.name}"
            %p.card-text="Personal motto: #{event.description}"
