.card-deck
  - events.each do |event|
    .col-4
      .card
        = link_to event_path(event) do
          .card-body
            %img.card-img-top{:alt => "#{event.category.name}", :src => "#{event.category.picture_url}"}/
            %h5.card-title="#{event.name}"
            %p.card-text="Description: #{event.description}"
            %p.card-text="Category: #{event.category.name}"
