= render 'alpaca_card', alpacas: @alpacas

- if button_visible?(current_user, @event, @winner)
  .col-2.col-centered
    .add-button
      = simple_form_for @event do |f|
        = f.input :alpacas, collection: current_user.alpacas
        = f.submit "Join event", class: "btn btn-primary"

- if @winner
  %h3 The winner is #{@winner.name}!!!
