.card-deck
  - @alpacas.each do |alpaca|
    .col-3
      .card
        .card-body
          %h5.card-title="#{alpaca.name}"

- if button_visible?(@user, @event, @winner)
  .col-2.col-centered
    .add-button
      = simple_form_for @event do |f|
        = f.input :alpacas, collection: @user.alpacas
        = f.submit "Join event", class: "btn btn-primary"

- if @winner
  %h3 The winner is #{@winner.name}!!!
